*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior:smooth;
}

.hell {   animation: vcanimation 0.9s infinite ease-in-out alternate; }
     @keyframes vcanimation {
            to {
                transform: translateY(-30px);
            }
        }

        .shadow{  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.12); }
       .twoone:hover>.onetwo{
        opacity: 1;
        transform: translateY(-50px);
       }
       .atag:hover{
        background: black;
        color:white;
       }

      

           .scrbr::-webkit-scrollbar {
               display: none;
           }
           .pp:hover>.op{
            opacity: 1;
            transform: translateY(10%);
           }
    
                
               
             
            
     